.wrap-chat-log { display:flex; }
.chat-log { flex:1; }

.popup-add-room { display:flex; flex-direction:column; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid #eee; padding:20px; }
.btn-popup-close { cursor:pointer; }
.room { display:inline-block; border:1px solid #eee; padding:15px; }

.room-user { display:inline-block; vertical-align:top; width:300px; height:80px; border:1px solid #eee; margin:10px; }