머머멍멍
<!--
<script>
location.href = "/accounts/login";
</script>
-->
<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io Test</title>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <style>
    * {
        box-sizing: border-box;
    }

    #chat_content {
        border: 1px solid #000;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        overflow-y: auto;
    }

    #my_chat {
        width: 100%;
    }
    </style>
</head>

<body>
    <div id="chat_content"></div>
    <input id="my_chat" type="text">

    <script>
    const socket = io.connect('http://ssh.kanokun.com:3000');
    let chat_content = document.getElementById('chat_content');
    let my_chat = document.getElementById('my_chat');

    socket.on('msg', function (data) {
        chat_content.innerHTML += `${data}<br>`;
    });

    my_chat.addEventListener('keydown', e=>{

        if(e.key == 'Enter') {
            chat_content.innerHTML += `${my_chat.value}<br>`;
            socket.emit('msg', my_chat.value);
            my_chat.value = "";
        }
    });
    </script>
</body>

</html>
*/