.hide { display:none !important; }

/* 로딩 */
.mask { display:block; position:fixed; top:0; bottom:0; left:0; right:0; background-color:#00000099; width:auto; height:auto; z-index:10; opacity:0; pointer-events:none; transition:opacity 0.3s; }
.mask.show { opacity:1; pointer-events:unset; }
.mask.show-important { opacity:1 !important; pointer-events:unset !important; }
.loader,
.loader:after { border-radius: 50%; width: 10em; height: 10em; pointer-events:none; }
.loader { font-size: 10px; position:relative; left:calc(50% - 50px); top:calc(50% - 50px); text-indent: -9999em; border-top: 1.1em solid rgba(255, 255, 255, 0.2); border-right: 1.1em solid rgba(255, 255, 255, 0.2); border-bottom: 1.1em solid rgba(255, 255, 255, 0.2); border-left: 1.1em solid #ffffff; -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; }

@-webkit-keyframes load8 {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes load8 {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}