<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabula</title>

    <link rel='stylesheet' type='text/css' href='/css/common.css'>
    <link rel='stylesheet' type='text/css' href='/css/games/game.css'>
</head>
<body>
    <canvas></canvas>
    
    <script src="/js/common.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/games/game.js"></script>
</body>
</html>