<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>

    <link rel='stylesheet' type='text/css' href='/css/common.css'>
    <link rel='stylesheet' type='text/css' href='/css/chats/lobby.css'>
</head>
<body>
    <header>
        <%- include('../layouts/header.ejs') %>
    </header>

    <div class="wrap-rooms">
        <div class="room-list"></div>
        <div class="wrap-room-menu">
            <button class="btn-add-room-popup" type="button">방 만들기</button>
        </div>
    </div>
    <div class="wrap-in-room hide">
        <div class="room-user-list">
            <% for(let i=0; i<11; i++) { %>
                <div class="room-user empty">
                    <p>
                        <b><%= i+1 %></b>
                        <span class="room-user-id"></span>
                    </p>
                    <span class="room-user-ready"></span>
                </div>
            <% } %>
        </div>
        <div class="wrap-in-room-menu">
            <button class="btn-room-ready" type="button">준비</button>
            <button class="btn-room-leave" type="button">나가기</button>
        </div>
        <div class="room-chat-log"></div>
        <div>
            <input type="text" id="room-chat-input" name="room-chat-input" />
            <button class="btn-room-chat-send" type="button">입력</button>
        </div>
    </div>
    <div class="wrap-chat-log">
        <div class="chat-log"></div>
        <div class="user-list"></div>
    </div>
    <div>
        <input type="text" id="chat-input" name="chat-input" />
        <button class="btn-chat-send" type="button">입력</button>
    </div>

    <div class="popup-add-room hide">
        <div class="btn-popup-close">X</div>
        <label for="popup-room-name">
            <p>방 이름</p>
            <input type="text" id="popup-room-name" name="popup-room-name" />
        </label>
        <label for="popup-room-name"></label>
            <p>비밀번호</p>
            <input type="password" id="popup-room-pwd" name="popup-room-pwd" />
        </label>
        <button class="btn-add-room">생성</button>
    </div>

    <footer>
        <%- include('../layouts/footer.ejs') %>
    </footer>

    <script src="/js/common.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chats/lobby.js"></script>
</body>
</html>