<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel='stylesheet' type='text/css' href='/css/common.css'>
</head>
<body>
    <h2>Login</h2>
    <label for="id">
        <p>ID</p>
        <input type="text" id="id" name="id" />
    </label>
    <label for="pwd">
        <p>Password</p>
        <input type="password" id="pwd" name="pwd" />
    </label>

    <div>
        <button class="btn-login" type="button">LogIn</button>
        <button class="btn-regist" type="button">Regist</button>
    </div>

    <footer>
        <%- include('../layouts/footer.ejs') %>
    </footer>
    
    <script src="/js/common.js"></script>
    <script src="/js/accounts/login.js"></script>
</body>
</html>